.big-counter {
display: flex;
justify-content: center;
align-items: center;
background: black;
padding: 20px;
font-size: 60px;
color: white;
}

.digit, .clock {
    background: #111;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    min-width: 60px;
    text-align: center;
}